absl-py==0.13.0
astor==0.8.1
certifi==2021.5.30
cffi==1.15.0
click==8.0.3
colorama==0.4.4
coverage 
cycler
Cython 
dataclasses 
decorator 
Flask==2.0.3
Flask-SQLAlchemy==2.5.1
gast 
greenlet==2.0.2
grpcio 
h5py==2.10.0
ijson 
importlib-metadata 
ipython==6.1.0
ipython-genutils 
itsdangerous==2.0.1
jedi
jieba==0.42.1
Jinja2==3.0.3
joblib==0.13.2
kiwisolver 
mariadb==1.0.9
Markdown
MarkupSafe==2.0.1
matplotlib
mkl-fft==1.3.8
mkl-random==1.2.4
mkl-service==2.3.0
networkx==2.2
nltk==3.6.5
numpy
olefile==0.46
pandas==0.20.3
parso 
pickleshare 
Pillow 
prompt-toolkit==1.0.15
protobuf==3.17.2
pyaes==1.6.1
pycparser==2.21
Pygments
PyGraph==0.2.1
pymongo==4.1.1
pyparsing 
pyreadline==2.1
Pyrogram==1.4.16
PySocks==1.7.1
python-dateutil 
python-graph-core==1.8.2
pytz==2021.3
regex 
scipy 
simplegeneric==0.8.1
six 
SQLAlchemy==1.4.54
tensorboard==1.9.0
tensorflow==1.9.0
termcolor==1.1.0
torch==1.10.1+cu113
torchaudio==0.10.1+cu113
torchvision==0.11.2+cu113
tornado 
tqdm 
traitlets 
typing-extensions 
wcwidth 
Werkzeug 
wincertstore==0.2
wordcloud
zipp 
